/**
 * By Juan Julio Sandoval Layza <juanjus98@gmail.com>
 */
/**
 * Variables
 */
/**
 * Colores formulario
 */
/**
 * Colores redes sociales
 */
body {
  font-family: 'Lato', sans-serif, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background: #f7f7f7;
}
.bg-pattern-1 {
  background: url(../images/pattern_3.png) #E02406;
}
.mrg-top-15 {
  margin-top: 15px;
}
.brd-1 {
  border: solid 1px #FFF339;
}
.brd-2 {
  border: solid 1px #F94C31;
}
.mrg-bottom-15 {
  margin-bottom: 0px;
}
/**
 * Main contenido principal
 */
.wrapper {
  position: relative;
  margin-top: -30px;
}
.wrapper .container-principal {
  background: #fff;
  padding: 0;
  webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.wrapper .container-principal .divider_border {
  background: url(../images/divider.png) center top no-repeat;
  height: 30px;
  width: 100%;
  margin-top: -12px;
}
.wrapper .container-principal .cont-main {
  padding: 0 30px 30px 30px;
}
.titulo-principal {
  padding: 10px 0;
  text-align: center;
}
.titulo-principal h3 {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #282828;
  /*&:before{
			content: '';
			width:56px;
			background: url(../images/patternb.png) no-repeat  #cd0;
		}*/
}
.titulo-principal h3 span {
  font-weight: 700;
}
.titulo-principal h3::after,
.titulo-principal h3::before {
  content: '';
  width: 56px;
  height: 20px;
  background: url(../images/patterny.png) no-repeat center center;
  display: inline-block;
  margin: 0 16px;
}
.titulo-principal p {
  color: #828181;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
/**
 * Respaldados por
 */
.container-respaldados {
  padding: 30px 0;
  /*background: #ff9;*/
}
.container-respaldados h4 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 26px;
}
.container-respaldados .logo-item {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}
.container-respaldados .logo-item img {
  height: 72px;
}
#header_1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
#header_1 #top_line {
  color: #fff;
  padding: 0;
  font-size: 11px;
  visibility: visible;
  opacity: 1;
  position: relative;
  z-index: 999999;
}
/**
 * Cabecera
 */
.container-cabecera {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  position: relative;
}
.container-cabecera:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: .6;
}
.container-cabecera .cont-titulos {
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
}
.container-cabecera .cont-titulos h1 {
  font-family: 'Lobster', cursive;
  font-size: 40pt;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.container-cabecera .cont-titulos p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
/**
 * Noavbar nav-pills to nav-topline
 */
.nav-topline {
  padding: 0;
}
.nav-topline li a {
  padding: 4px 10px;
  margin: 4px 0;
  font-size: 12px;
  color: #fff;
}
.nav-topline li a:hover {
  background: none;
  text-decoration: underline;
}
.nav-topline li a i {
  font-size: 14px;
  margin-right: 4px;
}
.nav-topline li .whatsapp {
  background: #25d366;
  border-radius: 12px;
}
.nav-topline li .whatsapp:hover {
  background: #21bd5c;
  text-decoration: none;
}
/**
 * Navbar menú principal
 */
.navbar-website {
  font-family: 'Lato', sans-serif;
  border: none;
  border-radius: 0px;
  background: none;
  margin-bottom: 15px;
}
.navbar-website .container {
  background: #fff;
  /*padding: 0;*/
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.41);
}
.navbar-website .navbar-brand {
  height: 68px;
  float: left;
  padding: 6px 15px;
}
.navbar-website .navbar-nav-wa li a {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7d7d7d;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  /*transition: background-color 0.5s ease;*/
}
.navbar-website .navbar-nav-wa li a:hover {
  color: #fff;
  background: #E02406;
}
.navbar-website .navbar-nav-wa li .dropdown-menu {
  padding: 0px 0;
  border: none;
}
.navbar-website .navbar-nav-wa li .dropdown-menu li {
  width: 100%;
  border: none;
  padding: 0px;
}
.navbar-website .navbar-nav-wa li .dropdown-menu li a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 6px 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 0.5s ease;
}
.navbar-website .navbar-nav-wa li .dropdown-menu li a:hover {
  color: #E02406;
  background-color: #fff;
}
.navbar-website .navbar-nav-wa li .dropdown-menu .active a,
.navbar-website .navbar-nav-wa li .dropdown-menu .open a,
.navbar-website .navbar-nav-wa li .dropdown-menu .active a:focus,
.navbar-website .navbar-nav-wa li .dropdown-menu .open a:focus,
.navbar-website .navbar-nav-wa li .dropdown-menu .active a:hover,
.navbar-website .navbar-nav-wa li .dropdown-menu .open a:hover {
  color: #E02406;
  background-color: #fff;
}
.navbar-website .navbar-nav-wa .active a,
.navbar-website .navbar-nav-wa .open a,
.navbar-website .navbar-nav-wa .active a:focus,
.navbar-website .navbar-nav-wa .open a:focus,
.navbar-website .navbar-nav-wa .active a:hover,
.navbar-website .navbar-nav-wa .open a:hover {
  color: #fff;
  background-color: #E02406;
}
/**
  * Navbar toggle
  */
.navbar-toggle {
  border: none;
  background: transparent !important;
  padding: 0;
  margin-top: 32px;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 26px;
  height: 3px;
  transition: all 0.2s;
  background: #E02406;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
/*@import "slide.less";*/
#carousel-home {
  position: relative;
  /**
	 * Busqueda cont-busqueda
	 */
}
#carousel-home .carousel-inner > .item > img,
#carousel-home .carousel-inner > .item > a > img {
  width: 100%;
}
#carousel-home .general-caption {
  position: absolute;
  width: 100%;
  top: 176px;
  text-align: center;
}
#carousel-home .general-caption h1 {
  font-family: 'Lobster', cursive;
  font-size: 40pt;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
#carousel-home .general-caption p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
#carousel-home .cont-busqueda {
  position: absolute;
  width: 100%;
  bottom: 68px;
}
#carousel-home .cont-busqueda .nav-tabs {
  border: none;
}
#carousel-home .cont-busqueda .nav-tabs li {
  margin-bottom: -2px;
  margin-right: 2px;
}
#carousel-home .cont-busqueda .nav-tabs li a {
  background: #fff7a4;
  color: #F94C31;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding: 10px 15px;
  border-bottom: none;
}
#carousel-home .cont-busqueda .nav-tabs li a:hover {
  background: #FFF157;
  color: #F94C31;
}
#carousel-home .cont-busqueda .nav-tabs .active > a {
  background: #FFF157;
  color: #F94C31;
  border-color: rgba(255, 255, 255, 0.7);
  border-top: solid 2px #F94C31;
}
#carousel-home .cont-busqueda .tab-content {
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 12px;
  background: #FFF157;
  -webkit-border-radius: 6px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 6px;
  -moz-border-radius-topleft: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
}
/**
 * Carousel para promociones .carousel-promo
 */
.carousel-promo li {
  padding-left: 1px;
  padding-right: 1px;
}
.nb-footer {
  background: #222222 url(../images/pattern_2.png);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 26px;
  padding-bottom: 30px;
}
.nb-footer .footer-single {
  /*margin-top: 30px;*/
}
.nb-footer .footer-single a {
  text-decoration: none;
}
.nb-footer .footer-single h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  border-bottom: 2px solid #FFEF00;
  padding-bottom: 5px;
  margin-bottom: -2px;
}
.nb-footer .footer-single li {
  border-top: solid 1px #353535;
  line-height: 12px;
}
.nb-footer .footer-single li:first-child {
  border-top: none;
}
.nb-footer .footer-single li a {
  color: #fff;
  font-size: 12px;
  padding: 6px 0px;
  display: block;
  transition: all 0.4s ease-in-out;
}
.nb-footer .footer-single li a:hover {
  color: #FFEF00;
}
.nb-footer .footer-single li a:hover i {
  color: #FFEF00;
}
.nb-footer .footer-single p {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px;
}
.nb-footer .footer-title {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}
.nb-footer .useful-links li a {
  text-transform: uppercase;
}
.footer-single address {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px;
}
@media (max-width: 767px) {
  .xs-center {
    text-align: center;
  }
  .left-clear {
    padding-left: 0;
  }
  .right-clear {
    padding-right: 0;
  }
}
.table-bordered-black,
.table-bordered-black > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered-black > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered-black > thead > tr > td,
.table-bordered-black > thead > tr > th {
  border: 1px solid #000;
  vertical-align: middle;
}
.table .table {
  background: none;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #e3f1fc;
}
.table-bordered-black-fix {
  margin: 0;
  padding: 0;
}
.table-bordered-black-fix tr td {
  border: 1px solid #000;
  /*background-color: @background-table1-head !important;*/
  /*color: @color-table1-head !important;*/
  border-left: none !important;
  border-right: none !important;
  background-color: none !important;
}
.table-bordered-black-fix tr:first-child td {
  border-top: none !important;
}
.table-bordered-black-fix tr:last-child td {
  border-bottom: none !important;
}
.table-bordered-black-fix tr .is-rowspan {
  vertical-align: middle !important;
  border-left: solid 1px #000 !important;
  border-bottom: none !important;
}
.table-bordered-black-fix tr .nota-literal {
  min-width: 30px;
  max-width: 30px;
}
.text-bold {
  font-weight: bold !important;
}
.text-red {
  color: red !important;
}
.text-blue {
  color: blue !important;
}
.form-home {
  padding: 20px 15px;
  background: #FFEF00;
  color: #FFF564;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
}
.form-home .help-block {
  color: #fff;
}
.form-home .input-group i {
  color: #FF735D;
}
.form-home h3 {
  margin: 0 0 8px 0;
  padding: 0 0 8px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  /*border-bottom: solid 1px @color-primary-1;*/
  color: #FF735D;
}
/**
 * Formulario de reserva
 */
.form-reservar {
  padding: 15px;
  background: #FFF564;
  color: #E02406;
  border: solid 1px #FFF339;
  border-radius: 4px;
}
.form-reservar .help-block {
  color: #FF735D;
}
.form-reservar .input-group i {
  color: #FF735D;
}
.form-reservar h3 {
  margin: 0 0 8px 0;
  padding: 0 0 12px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #FFF339;
  color: #E02406;
}
/**
 * Forumulario tool-box
 */
.tool-box-form {
  background: #f7f4f4;
  border-radius: 6px;
  margin-bottom: 26px;
  padding: 10px;
}
.cont-descripcion {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 20px 0;
}
.feature-box {
  clear: both;
}
.feature-box .feature-box-icon {
  border: 3px double #ededed;
  border-radius: 45px;
  color: #F94C31;
  display: inline-block;
  float: left;
  height: 45px;
  font-size: 20px;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 45px;
}
.feature-box .feature-box-info {
  padding-left: 55px;
}
.feature-box .feature-box-info h4 {
  font-family: 'Lato', sans-serif;
  padding-top: 15px;
  font-weight: 700;
  font-size: 16px;
  color: #333;
}
.cbp_tmtimeline {
  margin: 45px 0 45px 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #ebeef3;
  left: 18.5%;
  margin-left: -2px;
}
.cbp_tmtimeline li {
  position: relative;
}
.cbp_tmtimeline li .cbp_tmtime {
  display: block;
  width: 23%;
  padding-right: 80px;
  position: absolute;
}
.cbp_tmtimeline li .cbp_tmtime span {
  display: block;
  text-align: right;
}
.cbp_tmtimeline li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 0;
}
.cbp_tmtimeline li .cbp_tmtime span:last-child {
  font-size: 18px;
  font-weight: 500;
}
.cbp_tmtimeline li .cbp_tmicon {
  width: 48px;
  height: 48px;
  font-weight: 500;
  background-color: #fff;
  text-transform: none;
  font-size: 24px;
  line-height: 50px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #ff9933;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #999;
  text-align: center;
  left: 18.5%;
  top: 0;
  margin: 0 0 0 -25px;
}
.cbp_tmtimeline li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: #eef3f7;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cbp_tmtimeline li .cbp_tmlabel h4 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 16px;
}
.cbp_tmtimeline li .cbp_tmlabel p {
  margin-bottom: 0;
  font-size: 13px;
}
.cbp_tmtimeline li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #eef3f7;
  border-width: 10px;
  top: 15px;
}
.thumb_visit {
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  margin-top: -5px;
  float: right;
  margin-left: 15px;
}
.img-circle {
  border-radius: 50%;
}
.box_style_1 {
  background-color: #E02406;
  padding: 20px 30px 20px 30px;
  color: #fff;
  margin-bottom: 30px;
}
.box_style_1 .price {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
}
.box_style_1 .price strong {
  font-size: 50px;
  font-weight: 300;
  display: inline-block;
  margin-right: 10px;
}
.box_style_1 .list_ok {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 26px;
  font-weight: 500;
}
.box_style_1 .list_ok li {
  position: relative;
  padding-left: 25px;
}
.box_style_1 .list_ok li:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FF6;
  position: absolute;
  left: 0;
  top: 0;
}
.box_style_2 {
  padding: 30px 30px 10px 30px;
  margin-bottom: 30px;
  background-color: #f9f9f9;
}
.box_style_2 h3 {
  background-color: #FF735D;
  color: #fff;
  text-align: center;
  margin: -30px -30px 20px -30px;
  font-size: 24px;
  padding: 20px 0;
}
.box_style_2 h3 span {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
.box_style_2 hr {
  margin: 20px -25px 20px -25px;
  border: 0;
  border-top: 2px dotted #ddd;
}
.box_style_2 a#phone_2 {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #F94C31;
  text-decoration: none;
}
.box_style_2 a#phone_2:hover {
  color: #333;
}
/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #F94C31;
}
.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #F94C31;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
/* Below tabs mode */
.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #ffffff;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #FFEF00;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.btn-primary-1 {
  color: #fff;
  background-image: linear-gradient(to top, #E02406 0%, #FF735D 100%);
  border-color: #B41900;
}
.btn-primary-1:hover,
.btn-primary-1:focus,
.btn-primary-1:active,
.btn-primary-1.active,
.open .dropdown-toggle.btn-primary-1 {
  color: #fff;
  background-image: linear-gradient(to top, #F94C31 0%, #FF735D 100%);
  border-color: #E02406;
}
.btn-primary-1:active,
.btn-primary-1.active,
.open .dropdown-toggle.btn-primary-1 {
  background-image: none;
}
.btn-primary-1.disabled,
.btn-primary-1[disabled],
fieldset[disabled] .btn-primary-1,
.btn-primary-1.disabled:hover,
.btn-primary-1[disabled]:hover,
fieldset[disabled] .btn-primary-1:hover,
.btn-primary-1.disabled:focus,
.btn-primary-1[disabled]:focus,
fieldset[disabled] .btn-primary-1:focus,
.btn-primary-1.disabled:active,
.btn-primary-1[disabled]:active,
fieldset[disabled] .btn-primary-1:active,
.btn-primary-1.disabled.active,
.btn-primary-1[disabled].active,
fieldset[disabled] .btn-primary-1.active {
  background-color: #F94C31;
  border-color: #8C1300;
}
.btn-primary-1 .badge {
  color: #c4db28;
  background-color: #ffffff;
}
/**
 * Botones detalles
 */
.btn-precio {
  color: #9B9200;
  background-color: rgba(255, 245, 100, 0.8);
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 0px;
}
.btn-precio:hover,
.btn-precio:focus,
.btn-precio:active,
.btn-precio.active,
.open .dropdown-toggle.btn-precio {
  color: #9B9200;
  background-color: rgba(255, 245, 100, 0.8);
  border: none;
}
.btn-precio:active,
.btn-precio.active,
.open .dropdown-toggle.btn-precio {
  background-color: rgba(255, 245, 100, 0.8);
}
/*Botón detalles*/
.btn-detalles {
  color: #fff;
  background-color: #F94C31;
  border: none;
  font-size: 18px;
  /*font-weight: bold;*/
  border-radius: 0px;
}
.btn-detalles:hover,
.btn-detalles:focus,
.btn-detalles:active,
.btn-detalles.active,
.open .dropdown-toggle.btn-detalles {
  color: #fff;
  background-color: #f02607;
  border: none;
}
.btn-detalles:active,
.btn-detalles.active,
.open .dropdown-toggle.btn-detalles {
  background-color: #f02607;
}
/*-------- 1.2 Buttons --------*/
a.btn_full,
.btn_full {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  width: 100%;
  background: #F94C31;
  cursor: pointer;
  padding: 12px 20px;
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: 600;
  margin-bottom: 5px;
}
a.btn_full:hover,
.btn_full:hover {
  background: #333;
}
a.btn_outline,
.btn_outline {
  border: 2px solid #333;
  font-family: inherit;
  font-size: inherit;
  color: #333;
  width: 100%;
  cursor: pointer;
  padding: 8px 20px;
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: 600;
  text-transform: none;
}
a.btn_outline:hover,
.btn_outline:hover {
  background: #333;
  color: #fff;
}
a.btn_1,
.btn_1 {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  background: #65318f;
  cursor: pointer;
  padding: 7px 15px;
  display: inline-block;
  outline: none;
  font-size: 13px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: 500;
}
a.btn_1.medium,
.btn_1.medium {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  background: #65318f;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  outline: none;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: 500;
}
a.btn_1:hover,
.btn_1:hover {
  background: #333;
}
a.btn_1_outline,
.btn_1_outline {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #65318f;
  border: 2px solid #65318f;
  cursor: pointer;
  padding: 7px 15px;
  display: inline-block;
  outline: none;
  font-size: 13px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: 500;
}
a.btn_1_outline:hover,
.btn_1_outline:hover {
  background: #333;
  border: 2px solid #333;
  color: #fff;
}
a.btn_slider,
.btn_slider {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  background: #ed5434;
  cursor: pointer;
  padding: 8px 20px;
  display: inline-block;
  outline: none;
  font-size: 16px;
  -webkit-transition: background 0.3s !important;
  -moz-transition: background 0.3s !important;
  transition: background 0.3s !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: 500;
}
a.btn_slider:hover,
.btn_slider:hover {
  background: #fff;
  color: #ed5434;
}
a.btn_1.white,
.btn_1.white {
  background: #ed5434;
  color: #fff;
}
a.btn_1.white:hover,
.btn_1.white a:hover,
.btn_1.white:hover {
  background: #fff;
  color: #ed5434 !important;
}
.thumbnail-item {
  background: #fff;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 0;
  margin-bottom: 15px;
  position: relative;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear, ease-in;
  transition-delay: 0s, 1s;
  webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.thumbnail-item .discount {
  height: 40px;
  width: 46px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
  background: rgba(224, 36, 6, 0.8);
  position: absolute;
  top: 0;
  z-index: 4;
  left: 22px;
}
.thumbnail-item .discount:before {
  position: absolute;
  bottom: -10px;
  content: '';
  width: 100%;
  border-left: 23px solid rgba(224, 36, 6, 0.8);
  border-right: 23px solid rgba(224, 36, 6, 0.8);
  border-top: none;
  border-bottom: 10px solid transparent;
  left: 0;
}
.thumbnail-item figure {
  position: relative;
  overflow: hidden;
}
.thumbnail-item figure a > img {
  max-width: 100%;
  -moz-transition: all .3s linear 0s;
  -webkit-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
}
.thumbnail-item figure .tg-icons {
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 4px 6px;
  position: absolute;
}
.thumbnail-item figure .tg-icons .badge {
  color: #fff;
  width: 26px;
  height: 26px;
  line-height: 23px;
  font-size: 10pt;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  cursor: pointer;
  margin-right: 6px;
}
.thumbnail-item figure .tg-icons .badge i {
  line-height: 19px;
}
.thumbnail-item .caption h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.thumbnail-item .caption h3 a {
  color: #333;
  text-decoration: none;
}
.thumbnail-item .caption h4 span {
  font-size: 14px;
  color: #666;
  font-weight: normal;
}
.thumbnail-item .caption h4 span i {
  color: #FF735D;
  margin-right: 6px;
}
.thumbnail-item .caption p {
  font-size: 14px;
  color: #333;
}
.thumbnail-item:hover {
  webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  /*border: 1px solid @color-primary-1;*/
}
.thumbnail-item:hover .caption > h3 a {
  color: #FF735D;
}
.thumbnail-item:hover figure > a > img {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/**
 * Listado items
 */
.listado-item {
  font-family: 'Lato', sans-serif;
  background: #fff;
  padding: 0;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
  transition-property: background, border-radius;
  transition-duration: .2s,1s;
  transition-timing-function: linear, ease-in;
  transition-delay: 0s,1s;
  webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}
.listado-item figure {
  position: relative;
  border-radius: 3px 0 0 3px;
  overflow: hidden;
}
.listado-item figure a > img {
  max-width: 100%;
  -moz-transition: all .3s linear 0s;
  -webkit-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
}
.listado-item .titulo-item {
  font-size: 18px;
  font-weight: 700;
}
.listado-item .titulo-item a {
  color: #333;
  text-decoration: none;
}
.listado-item p {
  font-size: 14px;
  font-weight: 300;
  color: #555;
}
.listado-item:hover {
  webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #FF735D;
}
.listado-item:hover .titulo-item a {
  color: #FF735D;
}
.listado-item:hover figure > a > img {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/*==================================
    TIMELINE
    ==================================*/
/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}
/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}
/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #FFEF00;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #FFEF00;
}
/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}
.timeline-content img {
  margin-top: 15px;
}
/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}
/*----------------------------------------------
        MOD: TIMELINE SPLIT
        ----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline {
    display: table;
  }
  .timeline-split .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-split .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title {
    position: relative;
    left: -45px;
  }
}
/*----------------------------------------------
        MOD: TIMELINE CENTERED
        ----------------------------------------------*/
.timeline-centered {
  @extend .timeline-split;
}
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}
/*----------------------------------------------
        MOD: MARKER OUTLINE
        ----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FFEF00;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FFEF00;
}
.cont-sidebar {
  /*background: #cd0;*/
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.cont-sidebar .titulo {
  padding: 10px 0;
  margin: 0;
  font-size: 20px;
  color: #282828;
  text-align: center;
}
.cont-sidebar .titulo span {
  font-weight: 700;
}
.cont-sidebar .titulo-desc {
  font-size: 14px;
}
/**
 * Iframe para despegar
 */
.iframe-despegar {
  width: 100%;
  background: #cdf;
}
/**
 * Prom despegar
 */
.prom-despegar .searchboxContainer {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 32px !important;
  margin-bottom: 0px !important;
  padding: 0 !important;
}
.prom-despegar .searchboxContainer .searchbox {
  width: auto !important;
}
.chosen-select {
  width: 100%;
}
.chosen-select-deselect {
  width: 100%;
}
.chosen-container {
  display: inline-block;
  font-size: 14px;
  position: relative;
  vertical-align: middle;
  width: 100% !important;
}
.chosen-container .chosen-drop {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  margin-top: -1px;
  position: absolute;
  top: 100%;
  left: -9000px;
  z-index: 1060;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
  right: 0;
}
.chosen-container .chosen-results {
  color: #555555;
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  line-height: 1.42857143;
  list-style: none;
  margin: 0;
  padding: 5px 6px;
}
.chosen-container .chosen-results li em {
  background: #feffde;
  font-style: normal;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li.active-result {
  cursor: pointer;
  display: list-item;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #428bca;
  background-image: none;
  color: white;
}
.chosen-container .chosen-results li.highlighted em {
  background: transparent;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #777777;
}
.chosen-container .chosen-results .no-results {
  background: #eeeeee;
  display: list-item;
}
.chosen-container .chosen-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  z-index: 1;
}
.chosen-container .chosen-results-scroll span {
  display: inline-block;
  height: 1.42857143;
  text-indent: -5000px;
  width: 9px;
}
.chosen-container .chosen-results-scroll-down {
  bottom: 0;
}
.chosen-container .chosen-results-scroll-down span {
  background: url("../images/chosen-sprite.png") no-repeat -4px -3px;
}
.chosen-container .chosen-results-scroll-up span {
  background: url("../images/chosen-sprite.png") no-repeat -22px -3px;
}
.chosen-container-single .chosen-single {
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555555;
  display: block;
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  padding: 0 0 0 8px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.chosen-container-single .chosen-single span {
  display: block;
  margin-right: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single abbr {
  background: url("../images/chosen-sprite.png") right top no-repeat;
  display: block;
  font-size: 1px;
  height: 10px;
  position: absolute;
  right: 26px;
  top: 12px;
  width: 12px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: right -11px;
}
.chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
  background-position: right 2px;
}
.chosen-container-single .chosen-single div {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
}
.chosen-container-single .chosen-single div b {
  background: url("../images/chosen-sprite.png") no-repeat 0 7px;
  display: block;
  height: 100%;
  width: 100%;
}
.chosen-container-single .chosen-default {
  color: #777777;
}
.chosen-container-single .chosen-search {
  margin: 0;
  padding: 3px 4px;
  position: relative;
  white-space: nowrap;
  z-index: 1000;
}
.chosen-container-single .chosen-search input[type="text"] {
  background: url("../images/chosen-sprite.png") no-repeat 100% -20px, #ffffff;
  border: 1px solid #cccccc;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 1px 0;
  padding: 4px 20px 4px 4px;
  width: 100%;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.chosen-container-single-nosearch .chosen-search input {
  position: absolute;
  left: -9000px;
}
.chosen-container-multi .chosen-choices {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  cursor: text;
  height: auto !important;
  height: 1%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices .search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices .search-field input[type="text"] {
  background: transparent !important;
  border: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #555555;
  height: 32px;
  margin: 0;
  padding: 4px;
  outline: 0;
}
.chosen-container-multi .chosen-choices .search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices .search-choice {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #333333;
  cursor: default;
  line-height: 13px;
  margin: 6px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  position: relative;
}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
  background: url("../images/chosen-sprite.png") right top no-repeat;
  display: block;
  font-size: 1px;
  height: 10px;
  position: absolute;
  right: 4px;
  top: 5px;
  width: 12px;
  cursor: pointer;
}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.chosen-container-multi .chosen-choices .search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
.chosen-container-multi .chosen-results {
  margin: 0 0 0 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: none;
}
.chosen-container-active .chosen-single {
  border: 1px solid #66afe9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background-color: #ffffff;
  border: 1px solid #66afe9;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  background: transparent;
  border-left: none;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 7px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #66afe9;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.chosen-container-active .chosen-choices .search-field input[type="text"] {
  color: #111 !important;
}
.chosen-container-active.chosen-with-drop .chosen-choices {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.chosen-disabled {
  cursor: default;
  opacity: 0.5 !important;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  padding: 0 8px 0 0;
  overflow: visible;
}
.chosen-rtl .chosen-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl;
}
.chosen-rtl .chosen-single div {
  left: 7px;
  right: auto;
}
.chosen-rtl .chosen-single abbr {
  left: 26px;
  right: auto;
}
.chosen-rtl .chosen-choices .search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices .search-choice {
  margin: 6px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices .search-choice .search-choice-close {
  background-position: right top;
  left: 4px;
  right: auto;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results .group-option {
  padding-left: 0;
  padding-right: 15px;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  background: url("../images/chosen-sprite.png") no-repeat -28px -20px, #ffffff;
  direction: rtl;
  padding: 4px 5px 4px 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../images/chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/**
 * Mobiles
 */
@media (max-width: 767px) {
  body {
    /*background: #fc0 !important;*/
  }
  /**
 * Navbar menú principal
 */
  .navbar-website {
    margin-bottom: 15px;
  }
  .navbar-website .navbar-nav-wa li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* end Navbar menú principal*/
  /**
  * Carousel priencipal
  */
  #carousel-home {
    margin-top: 98px;
  }
  #carousel-home .general-caption {
    top: 0px;
  }
  #carousel-home .general-caption h1 {
    font-size: 26pt;
  }
  #carousel-home .general-caption p {
    font-size: 14px;
  }
  #carousel-home .cont-busqueda {
    position: relative;
    bottom: 0px;
    margin-top: 15px;
  }
  .wrapper {
    margin-top: 16px;
  }
  .mrg-bottom-15 {
    margin-bottom: 15px;
  }
}
/*Fin mobiles*/
@media (min-width: 768px) and (max-width: 991px) {
  body {
    /*background: #c0f !important;*/
  }
  .navbar-website .navbar-nav-wa li a {
    font-size: 11px;
  }
  .wrapper {
    margin-top: -15px;
  }
  #carousel-home .general-caption {
    top: 120px;
  }
  #carousel-home .cont-busqueda {
    position: relative;
    bottom: 0px;
    margin-top: 15px;
  }
  .wrapper {
    margin-top: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    /*background: #c00 !important;*/
  }
  #carousel-home .general-caption {
    top: 100px;
  }
  #carousel-home .cont-busqueda {
    bottom: 35px;
  }
  .wrapper {
    margin-top: -15px;
  }
}
@media (min-width: 1200px) {
  body {
    /*background: #cc0 !important;*/
  }
}
/*@import "../hover/hover.less";*/
