/**
 * By Juan Julio Sandoval Layza <juanjus98@gmail.com>
 */
/**
 * Variables
 */
/**
 * Colores formulario
 */
/**
 * Colores redes sociales
 */
body {
  font-family: 'Lato', sans-serif, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background: #f7f7f7;
}
/**
 * Bc perú travel
 */
.bg-pattern-1 {
  background: url(../images/pattern_3.png) #E02406;
}
.mrg-top-15 {
  margin-top: 15px;
}
.brd-1 {
  border: solid 1px #FFF339;
}
.brd-2 {
  border: solid 1px #F94C31;
}
#header_1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
#header_1 #top_line {
  color: #fff;
  padding: 0;
  font-size: 11px;
  visibility: visible;
  opacity: 1;
  position: relative;
  z-index: 999999;
}
/**
 * Noavbar nav-pills to nav-topline
 */
.nav-topline {
  padding: 0;
}
.nav-topline li a {
  padding: 4px 10px;
  margin: 4px 0;
  font-size: 12px;
  color: #fff;
}
.nav-topline li a:hover {
  background: none;
  text-decoration: underline;
}
.nav-topline li a i {
  font-size: 14px;
  margin-right: 4px;
}
.nav-topline li .whatsapp {
  background: #25d366;
  border-radius: 12px;
}
.nav-topline li .whatsapp:hover {
  background: #21bd5c;
  text-decoration: none;
}
/**
 * Navbar menú principal
 */
.navbar-website {
  font-family: 'Lato', sans-serif;
  border: none;
  border-radius: 0px;
  background: none;
  margin-bottom: 15px;
}
.navbar-website .container {
  background: #fff;
}
.navbar-website .navbar-brand {
  height: 80px;
}
.navbar-website .navbar-nav-wa li a {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7d7d7d;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  /*transition: background-color 0.5s ease;*/
}
.navbar-website .navbar-nav-wa li a:hover {
  color: #fff;
  background: #E02406;
}
.navbar-website .navbar-nav-wa li .dropdown-menu {
  padding: 0px 0;
  border: none;
}
.navbar-website .navbar-nav-wa li .dropdown-menu li {
  width: 100%;
  border: none;
  padding: 0px;
}
.navbar-website .navbar-nav-wa li .dropdown-menu li a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 6px 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 0.5s ease;
}
.navbar-website .navbar-nav-wa li .dropdown-menu li a:hover {
  color: #fff;
  background-color: #E02406;
}
.navbar-website .navbar-nav-wa li .dropdown-menu .active a,
.navbar-website .navbar-nav-wa li .dropdown-menu .open a,
.navbar-website .navbar-nav-wa li .dropdown-menu .active a:focus,
.navbar-website .navbar-nav-wa li .dropdown-menu .open a:focus,
.navbar-website .navbar-nav-wa li .dropdown-menu .active a:hover,
.navbar-website .navbar-nav-wa li .dropdown-menu .open a:hover {
  color: #fff;
  background-color: #E02406;
}
.navbar-website .navbar-nav-wa .active a,
.navbar-website .navbar-nav-wa .open a,
.navbar-website .navbar-nav-wa .active a:focus,
.navbar-website .navbar-nav-wa .open a:focus,
.navbar-website .navbar-nav-wa .active a:hover,
.navbar-website .navbar-nav-wa .open a:hover {
  color: #fff;
  background-color: #E02406;
}
/**
  * Navbar toggle
  */
.navbar-toggle {
  border: none;
  background: transparent !important;
  padding: 0;
  margin-top: 32px;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 26px;
  height: 3px;
  transition: all 0.2s;
  background: #E02406;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
/*@import "slide.less";*/
#carousel-home {
  position: relative;
  /**
	 * Busqueda cont-busqueda
	 */
}
#carousel-home .carousel-inner > .item > img,
#carousel-home .carousel-inner > .item > a > img {
  width: 100%;
}
#carousel-home .general-caption {
  position: absolute;
  width: 100%;
  /*background: #cff;*/
  top: 176px;
  text-align: center;
}
#carousel-home .general-caption h1 {
  font-family: 'Lobster', cursive;
  font-size: 40pt;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
#carousel-home .general-caption p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
#carousel-home .cont-busqueda {
  position: absolute;
  width: 100%;
  /*background: #fdf;*/
  bottom: 15px;
  text-align: center;
}
#carousel-home .cont-busqueda .nav-tabs {
  border: none;
}
#carousel-home .cont-busqueda .nav-tabs li {
  margin-bottom: -2px;
  margin-right: 2px;
}
#carousel-home .cont-busqueda .nav-tabs li a {
  background: #fff7a4;
  color: #F94C31;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding: 10px 15px;
  border-bottom: none;
}
#carousel-home .cont-busqueda .nav-tabs li a:hover {
  background: #FFF157;
  color: #F94C31;
}
#carousel-home .cont-busqueda .nav-tabs .active > a {
  background: #FFF157;
  color: #F94C31;
  border-color: rgba(255, 255, 255, 0.7);
  border-top: solid 2px #F94C31;
}
#carousel-home .cont-busqueda .tab-content {
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 12px;
  background: #FFF157;
  -webkit-border-radius: 6px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 6px;
  -moz-border-radius-topleft: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
}
.nb-footer {
  background: #272727;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
  padding-bottom: 30px;
}
.nb-footer .footer-single {
  /*margin-top: 30px;*/
}
.nb-footer .footer-single a {
  text-decoration: none;
}
.nb-footer .footer-single h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  border-bottom: 2px solid #FFEF00;
  padding-bottom: 5px;
  margin-bottom: -2px;
}
.nb-footer .footer-single li {
  border-top: solid 1px #353535;
  line-height: 12px;
}
.nb-footer .footer-single li:first-child {
  border-top: none;
}
.nb-footer .footer-single li a {
  color: #fff;
  font-size: 12px;
  padding: 6px 0px;
  display: block;
  transition: all 0.4s ease-in-out;
}
.nb-footer .footer-single li a:hover {
  color: #FFEF00;
}
.nb-footer .footer-single li a:hover i {
  color: #FFEF00;
}
.nb-footer .footer-single p {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px;
}
.nb-footer .footer-title {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}
.nb-footer .useful-links li a {
  text-transform: uppercase;
}
.footer-single address {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px;
}
@media (max-width: 767px) {
  .xs-center {
    text-align: center;
  }
  .left-clear {
    padding-left: 0;
  }
  .right-clear {
    padding-right: 0;
  }
}
.table-bordered-black,
.table-bordered-black > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered-black > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered-black > thead > tr > td,
.table-bordered-black > thead > tr > th {
  border: 1px solid #000;
  vertical-align: middle;
}
.table .table {
  background: none;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #e3f1fc;
}
.table-bordered-black-fix {
  margin: 0;
  padding: 0;
}
.table-bordered-black-fix tr td {
  border: 1px solid #000;
  /*background-color: @background-table1-head !important;*/
  /*color: @color-table1-head !important;*/
  border-left: none !important;
  border-right: none !important;
  background-color: none !important;
}
.table-bordered-black-fix tr:first-child td {
  border-top: none !important;
}
.table-bordered-black-fix tr:last-child td {
  border-bottom: none !important;
}
.table-bordered-black-fix tr .is-rowspan {
  vertical-align: middle !important;
  border-left: solid 1px #000 !important;
  border-bottom: none !important;
}
.table-bordered-black-fix tr .nota-literal {
  min-width: 30px;
  max-width: 30px;
}
.text-bold {
  font-weight: bold !important;
}
.text-red {
  color: red !important;
}
.text-blue {
  color: blue !important;
}
.form-home {
  padding: 20px 15px;
  background: #E02406;
  color: #FFF564;
  border-radius: 4px;
}
.form-home .help-block {
  color: #fff;
}
.form-home .input-group i {
  color: #FF735D;
}
.form-home h3 {
  margin: 0 0 8px 0;
  padding: 0 0 8px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #FF735D;
  color: #FFF564;
}
/**
 * Formulario de reserva
 */
.form-reservar {
  padding: 15px;
  background: #FFF564;
  color: #E02406;
  border: solid 1px #FFF339;
  border-radius: 4px;
}
.form-reservar .help-block {
  color: #FF735D;
}
.form-reservar .input-group i {
  color: #FF735D;
}
.form-reservar h3 {
  margin: 0 0 8px 0;
  padding: 0 0 12px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #FFF339;
  color: #E02406;
}
.cont-detail h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  color: #E02406;
  margin: 10px 0;
  text-transform: capitalize;
}
.cont-detail h1 img {
  max-height: 24px;
  margin-top: -3px;
}
.cont-detail h1 span {
  background: #FFEF00;
  font-size: 19px;
  color: #fff;
  padding: 6px 10px;
}
.cont-detail .lslide {
  text-align: center;
}
.cont-detail .lslide img {
  margin: 0 auto;
  width: 100%;
}
.cont-detail .lslide .caption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 14px;
  padding: 6px;
}
.cont-detail .cont-icono {
  /*padding: 15px;*/
  margin-bottom: 20px;
  text-align: center;
  color: #60696d;
  font-size: 14px;
}
.cont-detail .cont-icono i {
  font-size: 30px;
}
.cont-detail .cont-icono h4 {
  margin: 6px 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}
.cont-detail .cont-icono p {
  margin: 0;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
.cont-detail .cont-gallery {
  margin-bottom: 20px;
}
/**
 * cont-ckeditor
 */
.cont-ckeditor {
  font-family: 'Lato', sans-serif;
}
.cont-ckeditor h1 {
  font-size: 26px;
  font-weight: 700;
}
.cont-ckeditor h2 {
  font-size: 22px;
  font-weight: 700;
}
.cont-ckeditor h3 {
  font-size: 18px;
  font-weight: 700;
}
.cont-ckeditor h4 {
  font-size: 14px;
  font-weight: 600;
}
/* Tabs panel */
.tabbable-panel {
  border: 1px solid #eee;
  padding: 10px;
}
/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #ffffff;
}
.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #FFEF00;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
/* Below tabs mode */
.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #ffffff;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #FFEF00;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.btn-primary-1 {
  color: #fff;
  background-image: linear-gradient(to top, #E02406 0%, #FF735D 100%);
  border-color: #B41900;
}
.btn-primary-1:hover,
.btn-primary-1:focus,
.btn-primary-1:active,
.btn-primary-1.active,
.open .dropdown-toggle.btn-primary-1 {
  color: #fff;
  background-image: linear-gradient(to top, #F94C31 0%, #FF735D 100%);
  border-color: #E02406;
}
.btn-primary-1:active,
.btn-primary-1.active,
.open .dropdown-toggle.btn-primary-1 {
  background-image: none;
}
.btn-primary-1.disabled,
.btn-primary-1[disabled],
fieldset[disabled] .btn-primary-1,
.btn-primary-1.disabled:hover,
.btn-primary-1[disabled]:hover,
fieldset[disabled] .btn-primary-1:hover,
.btn-primary-1.disabled:focus,
.btn-primary-1[disabled]:focus,
fieldset[disabled] .btn-primary-1:focus,
.btn-primary-1.disabled:active,
.btn-primary-1[disabled]:active,
fieldset[disabled] .btn-primary-1:active,
.btn-primary-1.disabled.active,
.btn-primary-1[disabled].active,
fieldset[disabled] .btn-primary-1.active {
  background-color: #F94C31;
  border-color: #8C1300;
}
.btn-primary-1 .badge {
  color: #c4db28;
  background-color: #ffffff;
}
/**
 * Botones detalles
 */
.btn-precio {
  color: #fff;
  background-color: #FFEF00;
  border: none;
  font-size: 18px;
  /*font-weight: bold;*/
  border-radius: 0px;
}
.btn-precio:hover,
.btn-precio:focus,
.btn-precio:active,
.btn-precio.active,
.open .dropdown-toggle.btn-precio {
  color: #fff;
  background-color: #FFEF00;
  border: none;
}
.btn-precio:active,
.btn-precio.active,
.open .dropdown-toggle.btn-precio {
  background-color: #FFEF00;
}
.btn-detalles {
  color: #fff;
  background-color: #9B9200;
  border: none;
  font-size: 18px;
  /*font-weight: bold;*/
  border-radius: 0px;
}
.btn-detalles:hover,
.btn-detalles:focus,
.btn-detalles:active,
.btn-detalles.active,
.open .dropdown-toggle.btn-detalles {
  color: #fff;
  background-color: #C6B900;
  border: none;
}
.btn-detalles:active,
.btn-detalles.active,
.open .dropdown-toggle.btn-detalles {
  background-color: #9B9200;
}
.listado-item {
  background: #f9f9f9;
  padding: 6px;
  border: solid 1px #f2f2f2;
  margin-bottom: 16px;
}
.listado-item .thumbnail {
  padding: 0px;
  border: none;
  margin-bottom: 0;
}
.listado-item h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.listado-item h3 a {
  color: #E02406;
  text-decoration: none;
  text-transform: capitalize;
}
.listado-item h3 a img {
  max-height: 22px;
  margin-top: -2px;
}
.listado-item .list-group {
  border: none;
  background: none;
}
.listado-item .list-group .list-group-item {
  border: none;
  padding: 2px 0px;
  background: none;
}
.listado-item .list-group .list-group-item h4 {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.listado-item .list-group .list-group-item h4 span {
  font-weight: normal;
}
.listado-item .list-group .list-group-item h4 i {
  color: #FFEF00;
}
.listado-item:hover {
  background: #fff;
  border: solid 1px #f9f9f9;
}
/*==================================
    TIMELINE
    ==================================*/
/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}
/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}
/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #FFEF00;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #FFEF00;
}
/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}
.timeline-content img {
  margin-top: 15px;
}
/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}
/*----------------------------------------------
        MOD: TIMELINE SPLIT
        ----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline {
    display: table;
  }
  .timeline-split .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-split .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title {
    position: relative;
    left: -45px;
  }
}
/*----------------------------------------------
        MOD: TIMELINE CENTERED
        ----------------------------------------------*/
.timeline-centered {
  @extend .timeline-split;
}
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}
/*----------------------------------------------
        MOD: MARKER OUTLINE
        ----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FFEF00;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FFEF00;
}
/**
 * Mobiles
 */
@media (max-width: 767px) {
  body {
    /*background: #fc0 !important;*/
  }
  /**
 * Navbar menú principal
 */
  .navbar-website {
    margin-bottom: 15px;
  }
  .navbar-website .navbar-nav-wa li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* end Navbar menú principal*/
  /**
  * Carousel priencipal
  */
  #carousel-home {
    margin-top: 110px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    /*background: #c0f !important;*/
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    /*background: #c00 !important;*/
  }
}
@media (min-width: 1200px) {
  body {
    /*background: #cc0 !important;*/
  }
  .titulo_opciones span {
    float: right;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    /*background: #fdd !important;*/
  }
  .titulo_opciones span {
    float: right;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    /*background: #0dd !important;*/
  }
  .navbar-wa .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
  }
  .logo-salon {
    padding: 98px 0;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    /*background: #00c !important;*/
  }
  .logo-salon {
    padding: 98px 0;
  }
}
/*@import "../hover/hover.less";*/
